body {
  background: linear-gradient(135deg, #c0d7df 0%, #dbe6f6 50%, #a0b4c8 100%);
  color: #222;
  min-height: 100vh;
  font-family: "Segoe UI", Arial, sans-serif;
}
a:link {
  color: rgb(71, 11, 168);
}

ul {
  list-style-type: square;
}

ul li::marker {
  color: rgb(30, 16, 88);
}
