.house {
  display: grid;
  align-content: center;
}

.question_and_answers_1,
.question_and_answers_2,
.question_and_answers_3 {
  padding: 10px; /*Párnázás, belső margó.*/
}

.back-button,
.submit-button {
  background-color: #5e1354; /* Gomb háttérszíne */
  color: black; /* Gomb szövegének színe */
  border: none; /* Nincs keret */
  padding: 10px 20px; /* Belső margó */
  text-align: center; /* Szöveg középre igazítása */
  text-decoration: none; /* Nincs aláhúzás */
  display: inline-block; /* Inline blokk elem */
  font-size: 16px; /* Betűméret */
  margin: 10px 2px; /* Külső margó */
  cursor: pointer; /* Mutató kurzor */
  border-radius: 5px; /* Lekerekített sarkok */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Áttűnés a háttérszín és árnyék változásakor */
  font-weight: bold; /* Félkövér szöveg */
  position: relative; /* Relatív pozíció a fénycsíkhoz */
  overflow: hidden; /* Elrejtjük a túlcsorduló tartalmat */
}

.back-button::before,
.submit-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -200%; /* Kezdetben rejtve */
  width: 200%;
  height: 20px; /* Vékony csík */
  background: rgba(255, 255, 255, 0.8); /* Fényes csík színe */
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.back-button:hover::before,
.submit-button:hover::before {
  left: 100%; /* Mozgás hover esetén */
  transition: all 0.5s ease;
}

.back-button:hover,
.submit-button:hover {
  transform: scale(1.05); /* Nagyítás hover esetén */
  background-color: #b5a9a9; /* Háttérszín változás hover esetén */
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* Csillogó hatás */
}

.back-button:focus,
.submit-button:focus {
  background-color: #b5a9a9; /* Háttérszín változás focus esetén */
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8); /* Csillogó hatás */
}

/* Gombokat tartalmazó konténer */
.button-container {
  display: flex;
  /* A gombok egymás mellé rendezése */
  gap: 20px;
  /* Térköz a gombok között */
  flex-wrap: wrap;
  /* Ha nem fér el a gomb, új sorba kerül */
  justify-content: center;
  /* Középre igazítás */
}

@media (max-width: 600px) {
  .house {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img {
    height: 50px;
  }
}
